/*======================================================================
色指定
========================================================================*/
.pink{
    color: #d9789b;
}





/*======================================================================
ヘッダー
=====================================================================*/

.site-icon{
    width: 40px;
    height: 40px;
    flex-shrink: 0;/*横幅が足りなくても、この要素を縮めない*/
}

.site-logo{
    display: flex;
    align-items: center;/*上下の中央をそろえる*/
    gap: 12px;
    text-decoration: none;
}

.site-text{
    display: flex;
    flex-direction: column;/*文字を縦に並べる*/
}   

.site-logo__title{
    font-family: Georgia,serif;
    font-size: 19px;
    font-weight: 500;
    color: #333;
}

.site-logo__subtitle{
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.25em;/*文字間隔を広げる*/
    color: #999;
}

header{
    display: flex;
    justify-content: space-between;/*ロゴとナビを左右に分ける*/
    align-items: center;
    padding: 16px 32px;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 24px;/*リンク同士の間隔*/
}

.header-nav a{
    text-decoration: none;/*リンクの下線を消す*/
    font-size: 14px;
    color:#333;
}

.header-nav a.is-active{
    color:#d9789b;
    font-weight: bold;/*太字*/
    border-bottom: 2px solid #d9789b;/*下線をつける*/
}

/*================================================================
メイン
===============================================================*/

main{
    background-color: #fff2f7;
}

.intro{
    display: flex;
    align-items: center;
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;/*全体を左右中央へ*/
    padding: 60px 32px;
}

.intro-text{
    flex: 1;/*文章の箱に、写真と間隔を除いた残りの幅を使わせる*/
}

.intro-title{
    font-size: 48px;
    line-height: 1.5;
    margin: 24px;
}

.sakuramiku{
    width: 40%;
    height: auto;
}